/*
 * This file specifically sets various attributes of the Life Pie Chart.
 */
.default-color0.chart-pie { -fx-pie-color: crimson; }
.default-color1.chart-pie { -fx-pie-color: lightcoral; }
.default-color2.chart-pie { -fx-pie-color: #00fff2; }
.default-color3.chart-pie { -fx-pie-color: lightsteelblue; }

.chart-title {-fx-font-weight: bold;}
.chart-legend {-fx-background-color: linear-gradient(#1d1d1d 0.0%, #111 10.0%, #000000 30.0%, #000000 75.0%,  #111 90.0%, #1d1d1d 100.0%);}