.background {
	-fx-background-color: #000000C4;
}

.rgba-background {
	-fx-background-color: rgba(0.0, 0.0, 0.0, 0.3);
}

.transparent {
	-fx-background-color: transparent;
}

.label.option-name {
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 18.0px;
}

.choice-box, .choice-box .open-button, .menu-button {
	-fx-background-color: black;
	-fx-border-radius: 0.0px;
	-fx-border-color: black;
	-fx-text-fill: white;
}

.choice-box .open-button .arrow, .menu-button .arrow {
	-fx-background-color: white;
}

.menu-button .label {
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.menu-button .context-menu, .menu-button .context-menu .label {
	-fx-background-color: black;
}

.tree-view .tree-cell {
	-fx-background-color: #00000030;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#SettingOptionsTreeView .tree-cell {
	-fx-alignment: CENTER;
}

.text-field {
    -fx-background-color: rgba(53.0,89.0,119.0,0.4);
}

.text-field .scroll-pane {
    -fx-background-color: transparent;
}

.text-field .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-field .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content, .text-area .scroll-pane .viewport, .text-area .scroll-pane  {
	-fx-background-color: transparent;
}

.pop-button {
	-fx-font-family: Consolas;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-border-color: black;
	-fx-border-width: 0.0 0.0 2.0px 2.0px;
	-fx-background-color: #00000015;
}

.pop-button:armed {
	-fx-border-color: black;
	-fx-border-width: 2.0px 2.0px 0.0 0.0;
	-fx-text-fill: #535353;
	-fx-label-padding: 2.0px 2.0px 0.0 0.0;
}

#StatisticsListView .list-cell {
	-fx-alignment: center;
	-fx-font-weight: bold;
	-fx-font-size: 20.0px;
}

#StatisticsListView .scroll-bar {
	-fx-background-color: transparent;
}

#StatisticsListView .scroll-bar .increment-button {
	-fx-background-color: red;
}

#StatisticsListView .scroll-bar .decrement-button {
	-fx-background-color: blue;
}

#StatisticsListView .scroll-bar .thumb {
	-fx-background-color: green;
	
}

#StatisticsListView .scroll-bar .decrement-button .decrement-arrow ,#StatisticsListView .scroll-bar .increment-button .increment-button{
	-fx-background-color: black;
}

#HorizontalScroll {
	-fx-background-color:  linear-gradient(to right, #00000020 0.0%, #000000A8 45.0%, #000000A8 55.0%, #00000020 100.0%);
}